* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.restaurant-container {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fee8b4;
  -webkit-box-shadow: 1px 5px 15px 5px rgba(255, 250, 215, 1);
  -moz-box-shadow: 1px 5px 15px 5px rgba(255, 250, 215, 1);
  box-shadow: 1px 5px 15px 5px rgba(255, 250, 215, 1);
  margin-bottom: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 250px;
  padding: 10px;
}

.nav-items ul {
  display: flex;
}

.nav-items ul li {
  list-style-type: none;
  padding: 0 20px;
  font-size: 24px;
}

.restaurant-card {
  padding: 5px;
  width: 400px;
  height: 400px;
  margin: 15px;
  background-color: rgb(248, 248, 248);
}

.restaurant-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.restaurant-container {
  display: flex;
  flex-wrap: wrap;
}

.search {
  padding: 10px;
}

.restaurant-logo {
  padding: 5px 0;
  width: 100%;
}

.star-rating-container {
  display: inline-block;
  background-color: #48c479;
  color: white;
  padding: 0 5px;
  align-items: center;
  justify-content: center;
}

.star-logo {
  color: white;
}

.filter-btn {
  margin: 10px;
}

.filter-btn:hover {
  cursor: pointer;
}
